h1 {
  color: blue;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid rgb(100, 100, 255);
  background-color: white;
  transition: background-color .5s, color .5s;
  margin-bottom: 20px;
}
h1:hover {
  background-color: rgb(100, 100, 255);
  color: white;
}
#message-box {
  background-color: bisque;
  padding: 20px;
  text-align: center;
}
